<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="utf-8">
    <title>Research Group Website of Dr. Suman Chakrabarty @ SNBNCBS, Kolkata</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="Group website of Dr. Suman Chakrabarty, Associate Professor, Department of Chemical and Biological Sciences,
    S. N. Bose National Centre for Basic Sciences, Kolkata, India. Our research spans the area of computational molecular (bio)physics using molecular simulations and statistical mechanics." name="description">

    <!--=============== FAVICON ===============-->
    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}" type="image/x-icon">
    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Averia+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
    <!-- Icon Font Stylesheet -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/lightbox/css/lightbox.min.css' %}" rel="stylesheet">


    <!-- Customized Bootstrap Stylesheet -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/home.css' %}" rel="stylesheet">

</head>

<body>

    <!-- Spinner Start -->
    <div id="spinner"
        class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <!-- Spinner End -->
    <!-- Navbar & Hero Start -->
    <div class="container-fluid position-relative p-0">
        <nav class="navbar navbar-expand-lg navbar-light px-4 px-lg-5 py-3 py-lg-0">
            <a href="{% url 'home' %}" class="navbar-brand p-0" style="text-decoration: none;">
                <h1 class="m-0 lora">Chakrabarty Lab</h1>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="fa fa-bars"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav ms-auto py-0">
                    <a href="{% url 'home' %}" class="nav-item nav-link active" style="text-decoration: none;">Home</a>
                    <a href="{% url 'news' %}" class="nav-item nav-link" style="text-decoration: none;">News</a>
                    <a href="{% url 'research' %}" class="nav-item nav-link" style="text-decoration: none;">Research</a>
                    <a href="{% url 'publication' %}" class="nav-item nav-link"
                        style="text-decoration: none;">Publications</a>
                    <a href="{% url 'softwares' %}" class="nav-item nav-link"
                        style="text-decoration: none;">Software</a>
                    <a href="{% url 'team' %}" class="nav-item nav-link" style="text-decoration: none;">Team</a>
                    <a href="{% url 'positions' %}" class="nav-item nav-link"
                        style="text-decoration: none;">Positions</a>
                    <a href="{% url 'gallery' %}" class="nav-item nav-link" style="text-decoration: none;">Gallery</a>
                    <a href="{% url 'contacts' %}" class="nav-item nav-link" style="text-decoration: none;">Contact</a>
                </div>
            </div>
        </nav>
<!--==========================
    Intro Section
  ============================-->
<section id="intro">

    <div class="intro-content">
        <div class="container-fluid">
            <div class="container h-100">
                <div class="row align-items-center h-100">
                    <div class="col-lg-12">
                        <div class="h-100 justify-content-center">
                            <div class="text-center">
                                <div class="sp-container">
                                    <div class="sp-content m-0 p-0">
                                        <h1 class="display-1 header lora"
                                            style="color:#ffffff; letter-spacing: 4px;">
                                            Computational (Bio)Physical Chemistry Group @ SNBNCBS, Kolkata
                                        </h1>
                                        <h3 class="display-5 header averia-libre-regular" style="color:#dac7c7;">Team Leader: Suman Chakrabarty</h3>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div id="intro-carousel" class="owl-carousel">
        <div class="item" style="background-image: url('static/img/g_din.jpg'); bottom: 0; position: relative; background-position: top;"></div>
        <div class="item" style="background-image: url('static/img/afpro.png');"></div>
        <div class="item" style="background-image: url('static/img/home.jpg');"></div>

        <div class="item" style="background-image: url('static/img/poster.jpeg');"></div>
    </div>

</section>


<!-- #intro -->
        <!-- Carousel Start -->
        <!-- <div class="container-fluid bg-home">
            <div class="container h-100">
                <div class="row align-items-center h-100">
                    <div class="col-lg-12">
                        <div class="h-100 justify-content-center">
                            <div class="text-center">
                                <div class="sp-container">
                                    <div class="sp-content m-0 p-0">
                                        <h1 class="display-1 text-light header"
                                            style="font-family: Barlow; letter-spacing: 4px;">
                                            COMPUTATIONAL BIOPHYSICAL CHEMISTRY GROUP
                                        </h1>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <!-- Carousel End -->
    <!-- Navbar & Hero End -->
    <!-- Announcement Start
    <div class="container-fluid packages">
        <div class="container py-5">
            <div class="mx-auto text-center mb-5" style="max-width: 900px;">
                <h5 class="section-title px-3">Announcements</h5>
            </div>
            <div class="packages-carousel owl-carousel">
                {%for x in news %}
                <div class="notification mb-2">
                    <div class="notiglow"></div>
                    <div class="notiborderglow"></div>
                    <div class="notibody m-2"><strong>{{ x.title }}:</strong> {{ x.content }}</div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div> -->
    <!-- Announcement End -->
    <div id="watermark">
        <h1 style="color:red">Under active development</h1>
    </div>
    <!-- About Start -->
    <div class="container-fluid about py-5">
        <div class="container py-2">
            <div class="row g-5 align-items-center">
                <div class="col-lg-5">
                    <div class="h-100"> <img src="{% static 'img/g_din.jpg' %}" class="img-fluid w-100 h-100" alt="">
                    </div>
                </div>
                <div class="col-lg-7"
                    style="background: linear-gradient(rgba(255, 255, 255, .8), rgba(255, 255, 255, .8));">
                    <h5 class="section-about-title pe-3">About Us</h5>
                    <!-- <h1 class="mb-4">Welcome to <span class="text-primary">SCLab</span></h1> -->
                    <p class="mb-4" style="font-family: 'Crimson Text', serif;color: #14141f; font-size: 1.25rem;">
                        The broad area of our research is computational molecular biophysics and theoretical physical
                        chemistry. The primary
                        goal is to employ state of the art computational methodologies primarily based on statistical
                        mechanics to solve
                        realistic problems in the interdisciplinary areas of chemistry, physics and biology.
                    </p>
                    <p class="mb-4" style="font-family: 'Crimson Text', serif;color: #14141f; font-size: 1.25rem;">
                        Overall, we
                        take an approach of
                        molecular thermodynamics to connect molecular interactions and dynamics to their function and
                        properties. We work on a
                        wide range of problems starting from small molecules (as small as water!) to large biomolecular
                        assemblies and
                        self-assembly of amphiphilic molecules.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->


    <!-- Research Start -->
    <div class="container-fluid ExploreTour">
        <div class="container py-5">
            <div class="mx-auto text-center mb-5" style="max-width: 900px;">
                <h5 class="section-title px-3">Research</h5>
                <h1 class="mb-4">Major Research Interests</h1>
                <p class="mb-0">The broad area of our research is computational molecular biophysics and theoretical
                    physical chemistry. The primary
                    goal is to employ state of the art computational methodologies primarily based on statistical
                    mechanics to solve
                    realistic problems in the interdisciplinary areas of chemistry, physics and biology. Overall, we
                    take an approach of
                    molecular thermodynamics to connect molecular interactions and dynamics to their function and
                    properties. We work on a
                    wide range of problems starting from small molecules (as small as water!) to large biomolecular
                    assemblies and
                    self-assembly of amphiphilic molecules.
                </p>
            </div>
            <div class="tab-class text-center">

                <div class="tab-content">
                    <div id="NationalTab-1" class="tab-pane fade show p-0 active">
                        <div class="row g-4">
                            {% for x in research %}
                            
                                <div class="col-md-6 col-lg-4">
                                    <a class="fill-div" href="#" data-bs-toggle="modal" data-bs-target="{{ '#research' }}{{ x.id }}" style="text-decoration: none;">
                                    <div class="national-item">
                                        <img src="{{ x.image.url }}" class="img-fluid w-100 rounded" alt="Image" style='height: 100%; width: 100%; object-fit: cover'>
                                        <div class="national-content w-100">
                                            <div class="national-info">
                                                <h4 class="text-white mb-2">{{ x.title }}</h4>
                                                <a href="#" class="btn-hover" data-bs-toggle="modal"
                                                    data-bs-target="{{ '#research' }}{{ x.id }}" style="text-decoration: none;">Know More!<i
                                                        class="fa fa-arrow-right ms-2"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- Research end -->
    <!--Modal start-->

    <!-- Modal -->
    {% for x in research %}
    <div class="modal fade" id="{{ 'research' }}{{ x.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-lg modal-xl modal-md modal-fullscreen-md-down" role="document">
            <div class="modal-content rounded-0">
                <div class="modal-body py-0">


                    <div class="d-block main-content">
                        <div class="p-2" style="display: flex; justify-content: end;">
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>

                        <img src="{{ x.image.url }}" alt="Image" class="img-fluid"
                            style="background-color: #b2fcff;width: 100%; height: 30vh; object-fit: cover;">
                        <div class="content-text p-4">

                            <h3 class="mb-4">{{ x.title }}</h3>
                            <p class="mb-4">{{ x.description }}
                            </p>
                            <br>
                            Recent Publications:
                            {% for y in x.publication %}
                            <ul>
                                <li><a
                                        href="{{ y }}"> {{ y }}</a>
                                </li>
                            </ul>
                            {% endfor %}
                            <div class="d-flex" style="display: flex; justify-content: center;">
                                <div class="ml-auto">
                                    <a href="#" class="btn btn-primary" data-bs-dismiss="modal" style="text-decoration: none;" >Close!</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    {% endfor %}

    <!-- Positions Start -->
    <div class="container-fluid booking py-5">
        <div class="container py-5">
            <div class="row g-5 align-items-center">
                <div class="col-lg-6">
                    <h5 class="section-booking-title pe-3">Open positions</h5>
                    <h1 class="text-white mb-2">Join Us!</h1>
                    <p class="text-white mb-2">
                        We are looking for bright and motivated students who are curious to unravel the mysteries of
                        nature from a molecular
                        point of view! Interest in physical chemistry, chemical physics, biophysics, statistical
                        mechanics and programming are
                        desirable.
                    </p>
                </div>
                <div class="col-lg-6">
                    <h1 class="text-white mb-2">PhD. positions</h1>
                    <p class="text-white">
                        For the admission process in our centre, please consult the <a class="link"
                            href="http://newweb.bose.res.in/AcademicProgrammes/Admission.jsp"><span
                                class="text-warning">official
                                admission page.</span></a>
                    </p>
                </div>
                <div class="col-lg-6">
                    <h1 class="text-white mb-2">Postdoctoral positions</h1>
                    <p class="text-white">
                        If you are looking for a postdoctoral researcher position, please visit:<a class="link"
                            href="https://www.bose.res.in/LinkageProgrammes/APMP/">
                            <span class="text-warning">Advanced Postdoctoral
                                Research Programme (APRP)</span></a>
                    </p>
                </div>
                <div class="col-lg-6">
                    <h1 class="text-white mb-2">Project Students</h1>
                    <p class="text-white">
                        Short term project position or postdoctoral research positions might open up from time to time.
                        Please feel free to
                        directly contact us
                        <a href="mailto:sumanc@bose.res.in" class="link">
                            <span class="text-warning">(sumanc@bose.res.in)</span></a> if you are interested.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- Positions End -->

    <!-- Collaborator Start -->
    <div class="container-fluid testimonial py-5">
        <div class="container py-5">
            <div class="mx-auto text-center mb-5" style="max-width: 900px;">
                <h5 class="section-title px-3">Collaborators</h5>
                <h1 class="mb-0">National/international collaborators</h1>
            </div>
            <div class="testimonial-carousel owl-carousel">
                {% for obj in object %}
                <div class="testimonial-item text-center rounded pb-4">
                    <div class="testimonial-comment rounded p-5">
                    </div>
                    <div class="testimonial-img p-1">
                        <a href="{{ obj.link }}"><img src="{{ obj.image.url }}" class="img-fluid rounded-circle"
                                alt="Ruth Nussinov"></a>
                    </div>
                    <div style="margin-top: -35px;">
                        <h5 class="mb-0">{{ obj.name }}</h5>
                        <p class="mb-0">{{ obj.desig }}
                            <br> {{ obj.univ }}
                        </p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- Footer Start -->
    <footer id="footer" class="footer" style="background-color: #14141f; color: #f5f5f5;">
        <div class="container footer-top">
            <div class="row gy-4">
                <div class="col-lg-4 col-md-6 footer-about">
                    <a href="index.html" class="d-flex align-items-center">
                        <span class="sitename">Chakrabarty Lab</span>
                    </a>
                    <div class="footer-contact pt-3">
                        <p>SNBNCBS, Kolkata-106</p>
                        <p>CBS Department</p>
                        <p class="mt-3"><strong>Phone:</strong> <span>+91-33-2335 1313/</span></p>
                        <p><strong>Email:</strong> <span>sumanc@bose.res.in</span></p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-3 footer-links">
                    <h4 class="text-light">Useful Links</h4>
                    <ul>
                        <li><i class="bi bi-chevron-right"></i> <a href="bose.res.in">SNBNCBS</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a href="https://github.com/namus">Github</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a
                                href="https://scholar.google.co.in/citations?hl=en&user=dcj-bnsAAAAJ&view_op=list_works&sortby=pubdate">Google
                                Scholar</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a
                                href="http://newweb.bose.res.in/AcademicProgrammes/Admission.jsp">Admission page</a>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-4 col-md-12">
                    <h4 class="text-light">Follow Us</h4>
                    <p>
                        Follow us on social media platform provided by the link below to get notifications.
                    </p>
                    <div class="main__socials py-2">
                        <!-- <a href="https://www.facebook.com/namusite">
                            <button class="Link__facebook">
                                <i class="fab fa-facebook facebook" aria-hidden="true" style="font-size: 30px;"></i>
                            </button></a> -->
                        <a href="https://www.linkedin.com/in/namusite/">
                            <button class="Link__linkedin">
                                <i class="fab fa-linkedin linkedin" aria-hidden="true" style="font-size: 30px;"></i>
                            </button></a>
                        <a href="https://www.instagram.com/namusite/">
                            <button class="Link__instagram">
                                <i class="fab fa-instagram instagram" aria-hidden="true" style="font-size: 30px;"></i>
                            </button></a>
                        <a href="https://twitter.com/namusite">
                            <button class="Link__twitter">
                                <i class="fab fa-twitter twitter" aria-hidden="true" style="font-size: 30px;"></i>
                            </button></a>
                        <a href="https://github.com/namus">
                            <button class="Link__github">
                                <i class="fab fa-github github" aria-hidden="true" style="font-size: 30px;"></i>
                            </button></a>
                        <a href="https://www.youtube.com/user/sumanc">
                            <button class="Link__youtube">
                                <i class="fab fa-youtube" aria-hidden="true" style="font-size: 30px;"></i>
                            </button></a>
                    </div>
                </div>

            </div>
        </div>

    </footer>
    <!-- Footer End -->

    <!-- Copyright Start -->
    <div class="container-fluid copyright text-body py-4">
        <div class="container">
            <div class="row g-4 align-items-center">
                <div class="col-md-12 text-center mb-md-0">
                    <i class="fas fa-copyright me-2"></i><a class="link text-white" href="#">namusite.com</a>, All right
                    reserved.
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- Copyright End -->

    <!-- Back to Top -->
    <a href="#" class="btn btn-primary btn-primary-outline-0 btn-md-square back-to-top"><i
            class="fa fa-arrow-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'lib/easing/easing.min.js' %}"></script>
    <script src="{% static 'lib/waypoints/waypoints.min.js' %}"></script>
    <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'lib/lightbox/js/lightbox.min.js' %}"></script>
    <!-- Template Javascript -->
    <script src="{% static 'js/wow.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>

    <script>
        $(document).ready(function () {
            var a = document.getElementsByClassName('notibody');
            for (var i = 0; i < a.length; i++) {
                a[i].innerHTML = a[i].innerHTML.replace(/&lt;/g, '<').replace(/&gt;/g, '>');
            }
        });
         // Intro background carousel
            $("#intro-carousel").owlCarousel({
                autoplay: true,
                dots: false,
                loop: true,
                animateOut: 'fadeOut',
                items: 1
            });

            // Initiate the wowjs animation library
            new WOW().init();

    </script>
</body>

</html>
