anyio==4.13.0
argon2-cffi==25.1.0
argon2-cffi-bindings==25.1.0
arrow==1.4.0
asgiref==3.11.1
asttokens==3.0.1
async-lru==2.3.0
attrs==26.1.0
babel==2.18.0
backports.zstd==1.3.0
beautifulsoup4==4.14.3
bleach==6.3.0
Brotli==1.2.0
cached-property==1.5.2
cairocffi==1.7.1
certifi==2026.2.25
cffi==1.17.1
cftime==1.6.5
charset-normalizer==3.4.7
comm==0.2.3
contourpy==1.3.3
cycler==0.12.1
debugpy==1.8.20
decorator==5.2.1
defusedxml==0.7.1
dill==0.4.1
Django==5.1.3
django-admin-sortable2==2.3.1
django-ckeditor==6.7.3
django-ckeditor-5==0.2.20
django-js-asset==3.1.2
django-quill-editor==0.1.42
exceptiongroup==1.3.1
executing==2.2.1
fastjsonschema==2.21.2
fonttools==4.62.0
fqdn==1.5.1
freetype-py==2.3.0
#GDAL==3.11.4
greenlet==3.4.0
h11==0.16.0
h2==4.3.0
h5py==3.16.0
hpack==4.1.0
httpcore==1.0.9
httpx==0.28.1
hyperframe==6.1.0
idna==3.11
importlib_metadata==8.8.0
ipykernel==7.2.0
ipython==9.12.0
ipython_pygments_lexers==1.1.1
isoduration==20.11.0
jedi==0.19.2
Jinja2==3.1.6
joblib==1.5.3
jpype1==1.7.0
json5==0.14.0
jsonfield==3.2.0
jsonpointer==3.1.1
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
jupyter_client==8.8.0
jupyter_core==5.9.1
jupyter-events==0.12.0
jupyter-lsp==2.3.1
jupyter_server==2.17.0
jupyter_server_terminals==0.5.4
jupyterlab==4.5.6
jupyterlab_pygments==0.3.0
jupyterlab_server==2.28.0
kiwisolver==1.5.0
lark==1.3.1
lightgbm==4.6.0
lxml==6.0.2
MarkupSafe==3.0.3
matplotlib==3.10.8
matplotlib-inline==0.2.1
mistune==3.2.0
munkres==1.1.4
#mysqlclient==2.2.8
nbclient==0.10.4
nbconvert==7.17.1
nbformat==5.10.4
nest_asyncio==1.6.0
netCDF4==1.7.4
notebook_shim==0.2.4
numpy==1.26.4
overrides==7.7.0
packaging==26.0
pandas==3.0.2
pandocfilters==1.5.0
parso==0.8.6
patsy==1.0.2
pexpect==4.9.0
pillow==12.1.1
pip==26.0.1
platformdirs==4.9.6
prometheus_client==0.25.0
prompt_toolkit==3.0.52
psutil==7.2.2
#psycopg2==2.9.10
ptyprocess==0.7.0
pure_eval==0.2.3
py4j==0.10.9.9
pycairo==1.29.0
pycparser==2.22
Pygments==2.20.0
pyparsing==3.3.2
pypmml==1.5.8
PySide6==6.9.2
PySocks==1.7.1
python-dateutil==2.9.0.post0
python-json-logger==2.0.7
PyYAML==6.0.3
pyzmq==27.1.0
rdkit==2025.3.6
referencing==0.37.0
reportlab==4.4.10
requests==2.33.1
rfc3339_validator==0.1.4
rfc3986-validator==0.1.1
rfc3987-syntax==1.1.0
rlPyCairo==0.4.0
rpds-py==0.30.0
rtree==1.4.1
scikit-learn==1.3.2
scipy==1.17.1
seaborn==0.13.2
Send2Trash==2.1.0
setuptools==82.0.1
shapely==2.1.2
shiboken6==6.9.2
six==1.17.0
sklearn2pmml==0.130.0
sniffio==1.3.1
soupsieve==2.8.3
SQLAlchemy==2.0.49
sqlparse==0.5.5
stack_data==0.6.3
statsmodels==0.14.6
terminado==0.18.1
threadpoolctl==3.6.0
tinycss2==1.4.0
tomli==2.4.1
tornado==6.5.5
traitlets==5.14.3
typing_extensions==4.15.0
typing_utils==0.1.0
tzdata==2026.1
unicodedata2==17.0.1
uri-template==1.3.0
urllib3==2.6.3
wcwidth==0.6.0
webcolors==25.10.0
webencodings==0.5.1
websocket-client==1.9.0
wheel==0.46.3
whitenoise==6.12.0
xarray==2026.4.0
xgboost==3.2.0
zipp==3.23.1
