body,html{
	background-color:aqua;
	position:absolute;
	width:100%;
}
.container{
	position:relative;
	width:110%;
}


pre {
  background-color:#eee;
  overflow:auto;
  margin:0 0 1em;
  padding:.5em 1em;
}

pre code,
pre .line-number {
  /* Ukuran line-height antara teks di dalam tag <code> dan <span class="line-number"> harus sama! */
  font:normal normal 12px/14px "Courier New",Courier,Monospace;
  color:black;
  display:block;
}

pre .line-number {
  float:left;
  margin:0 1em 0 -1em;
  border-right:1px solid;
  text-align:right;
}

pre .line-number span {
  display:block;
  padding:0 .5em 0 1em;
}

pre .cl {
  display:block;
  clear:both;
}

.pre-wrapper{
	position:relative;
}
.pre-wrapper pre{
	padding-top: 25px;
}
.pre-wrapper .copy-snippet {
	border-radius: 0;
	min-width:55px;
	background: none repeat scroll 0 0 transparent;
	border: 1px solid #bbb;
	color:#007BFF;
	font-family: 'HELEVETICA',sans-serif;
	font-size: 12px;
	font-weight: normal;
	line-height: 1.42rem;
	margin: 0;
	padding: 0px 5px;
	text-align: center;
	text-decoration: none;
	text-indent: 0;
	position:absolute;
	background:#ccc;
	top:0;
	left:0;
}
.pre-wrapper .copy-snippet:disabled{
	color:#555;
}
#listing12{
	display: inline-block;
    width: 25px;
    height: 15px;
    margin: 2px;
    text-indent: 0;
    cursor: pointer;
    border: none;
    border-radius: 30%;
    background-color: gold;
    box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.8);      
	list-style-type: square;	
}
.overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    /*background-color: #008CBA; */
  	overflow: hidden;
  	width: 100%;
  	height: 0;
  	transition: .5s ease;
}

.carousel-item:hover .overlay {
  	bottom: 0;
  	height: 100%;
}

.text {
  	white-space: nowrap; 
  	color: white;
  	font-family: cursive;
  	font-size: 20px;
  	position: absolute;
  	overflow: hidden;
  	top: 90%;
  	left: 50%;
  	transform: translate(-50%, -50%);
  	-ms-transform: translate(-50%, -50%);
}
img{
	border:2px black solid;
}
.blue{
	color:blue;
}
.brown{
	color:#FF0000;
}






